@import '../../shared/styles/variables.scss';
.summary {
  display: flex;
  // justify-content: space-between;
}

.main-card {
  width: 98%;
}

table {
  position: relative;
  width: 100%;
}

.table-cell {
  width: 18%;
  word-break: break-all;
  padding-right: 30px;
}

.table-cell-sm {
  width: 10%;
  word-break: break-all;
  padding-right: 30px;
}

.table-cell-md {
  width: 10%;
  word-break: break-all;
  padding-right: 10px;
}

.refresh {
  padding-left: 98%;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    color: $color-primary;
  }
}
