@import '../../shared/styles/variables.scss';
.summary {
  display: flex;
  // justify-content: space-between;
}

mat-card {
  width: 100%;
}

.table-cell {
  width: 23%;
}
.table-cell-acc-ref {
  width: 30%;
}

.refresh {
  cursor: pointer;
  //position: absolute;
  top: 0;
  right: 0;

  &:hover {
    color: $color-primary;
  }
}
