:host {
  width: 100%;
}

.uploader {
  display: flex;
  flex-direction: column;
}

.file-chooser {
  margin-bottom: 1rem;
}

.summary-container {
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
}

.submit {
  width: 20rem;
}
