<div>
  <div>Event Date: {{ eventDate }}</div>
  <div>Event Identifier: {{ eventIdentifier }}</div>
  <div>
    Parties
    <div *ngFor="let party of parties">
      <div style="margin-left: 1rem;">
        Account Name: {{ party.account.accountName.value }}
      </div>
    </div>
  </div>
  <div>
    Net Price: {{ priceObject.netPrice.amount }}
    {{ priceObject.netPrice.currency.value }}
  </div>
  <div>Quantity: {{ quantity }}</div>
  <!-- <products>Products: {{ productSecurity }}</products> -->
  <div>
    Settlement Amount: {{ settlementTerms.settlementAmount.amount }}
    {{ settlementTerms.settlementAmount.currency.value }}
  </div>
  <div>Settlement Date: {{ settlementDate }}</div>
  <div>Trade Date: {{ tradeDate }}</div>
  <div>Product: {{ product }}</div>
</div>
