:host {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.allocate-trade-card {
  width: 50rem;
}

.input-values {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  .cancel {
    margin-right: 1rem;
  }

  .cancel,
  .submit {
    transition: transform 0.2s ease-in-out;

    &:not(:disabled) {
      &:hover {
        transform: scale(1.05);
      }
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

.allocation {
  width: 45rem;
}

.allocate-table {
  width: 100%;
  margin-bottom: 2rem;
}

.cell-wrapper {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.label {
  font-weight: bold;
  font-size: 90%;
}
