.form {
  display: flex;
  flex-direction: column;
}

.input-values {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  .cancel {
    margin-right: 1rem;
  }
}
