<div class="login-form">
  <div class="form-title">
    <span>
      <img src="assets/images/logo.png" class="dbs-logo" />
    </span>
    <span>
      <h1>NorthStar</h1>
    </span>
  </div>
  <mat-form-field class="user-select">
    <mat-label>User</mat-label>
    <mat-select [value]="userId" (change)="onUserChange($event)">
      <mat-option [value]="USERNAMES.BROKER1">{{
        USERNAMES.BROKER1
      }}</mat-option>
      <mat-option [value]="USERNAMES.BROKER2">{{
        USERNAMES.BROKER2
      }}</mat-option>
      <mat-option [value]="USERNAMES.CLIENT1">{{
        USERNAMES.CLIENT1
      }}</mat-option>
      <mat-option [value]="USERNAMES.CLIENT2">{{
        USERNAMES.CLIENT2
      }}</mat-option>
      <mat-option [value]="USERNAMES.CLIENT3">{{
        USERNAMES.CLIENT3
      }}</mat-option>
      <mat-option [value]="USERNAMES.SETTLEMENT_AGENT1">{{
        USERNAMES.SETTLEMENT_AGENT1
      }}</mat-option>
      <mat-option [value]="USERNAMES.COLLATERAL_AGENT1">{{
        USERNAMES.COLLATERAL_AGENT1
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    (click)="login()"
    color="primary"
    class="login-button"
  >
    Login
  </button>
</div>
