<div class="flow">
  <div
    class="step"
    (click)="navigateToUrl('transactions')"
    [ngClass]="{ 'step--active': true }"
  >
    <div>
      Block Trade
    </div>
  </div>
  <div class="step" (click)="navigateToUrl('transactions/allocate')">
    <div>
      Allocate
    </div>
  </div>
  <div class="step" (click)="navigateToUrl('transactions/affirm')">
    <div>
      Affirmation
    </div>
  </div>
  <div class="step" (click)="navigateToUrl('transactions/confirm')">
    <div>
      Confirmation
    </div>
  </div>
</div>
