@import '../../shared/styles/variables.scss';

.flow {
  display: flex;
  width: 96%;
}

.flow-diagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.current-step {
  width: 80%;
}

.step {
  min-width: 6rem;
  min-height: 6rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $color-primary;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  border: 2px solid white;
  transition: all 0.5s ease-in-out;
  &--active {
    border: 2px solid orange;
  }
  &:hover {
    border: 2px solid orange;
  }
}
