<div id="app-container">
  <div class="header">
    <nav class="routes">
      <a [routerLink]="['/']">
        <!-- <span class="logo-dbs"></span> -->
        <img src="assets/images/logo.png" class="dbs-logo" />
      </a>
      <a
        [routerLink]="['/transactions/account']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="
          currentUserRole === 'BROKER' ||
          currentUserRole === 'CLIENT' ||
          currentUserRole === 'COLLATERAL_AGENT' ||
          currentUserRole === 'SETTLEMENT_AGENT'
        "
        class="link"
        >Account
      </a>
      <a
        [routerLink]="['/transactions']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="
          currentUserRole === 'BROKER' ||
          currentUserRole === 'CLIENT' ||
          currentUserRole === 'OBSERVER' ||
          currentUserRole === 'SETTLEMENT_AGENT'
        "
        class="link"
      >
        Block Trade
      </a>
      <a
        [routerLink]="['/transactions/allocate']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="
          currentUserRole === 'BROKER' ||
          currentUserRole === 'CLIENT' ||
          currentUserRole === 'OBSERVER' ||
          currentUserRole === 'COLLATERAL_AGENT' ||
          currentUserRole === 'SETTLEMENT_AGENT'
        "
        class="link"
        >Allocation
      </a>
      <a
        [routerLink]="['/transactions/admin']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="
          currentUserRole === 'BROKER' ||
          currentUserRole === 'CLIENT' ||
          currentUserRole === 'COLLATERAL_AGENT' ||
          currentUserRole === 'SETTLEMENT_AGENT'
        "
        class="link"
      >
        Admin</a
      >
      <a
        [routerLink]="['/transactions/execution-report']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="currentUserRole === 'BROKER'"
        class="link"
      >
        Execution Report</a
      >
      <!-- <a
        [routerLink]="['/transactions/report']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="link"
      >
        Report</a
      > -->
    </nav>
    <div class="user-wrapper">
      <i class="material-icons logo">account_box</i>
      <label for="active-user" class="user-label">Active User: &nbsp;</label>
      <select
        required
        [value]="userId"
        class="user-select"
        (change)="onUserChange($event)"
      >
        <option [value]="USERNAMES.BROKER1">{{ USERNAMES.BROKER1 }}</option>
        <option [value]="USERNAMES.BROKER2">{{ USERNAMES.BROKER2 }}</option>
        <option [value]="USERNAMES.CLIENT1">{{ USERNAMES.CLIENT1 }}</option>
        <option [value]="USERNAMES.CLIENT2">{{ USERNAMES.CLIENT2 }}</option>
        <option [value]="USERNAMES.CLIENT3">{{ USERNAMES.CLIENT3 }}</option>
        <!-- <option [value]="USERNAMES.OBSERVER1">{{ USERNAMES.OBSERVER1 }}</option> -->
        <option [value]="USERNAMES.SETTLEMENT_AGENT1">{{
          USERNAMES.SETTLEMENT_AGENT1
        }}</option>
        <option [value]="USERNAMES.COLLATERAL_AGENT1">{{
          USERNAMES.COLLATERAL_AGENT1
        }}</option>
      </select>
    </div>
  </div>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <i class="material-icons">copyright</i>
    &nbsp; Copyright 2019
  </div>
  <app-loading-mask *ngIf="isLoading$ | async"></app-loading-mask>
</div>
