#app-container {
  height: 100vh;
  width: 96%;
  margin-left: 2%;
  margin-top: 1rem;
}

a {
  margin-right: 0.5rem;
  text-decoration: none;

  &:hover {
    color: orangered;
  }
}

.active-link {
  color: red;
  text-decoration: underline;
  text-decoration-color: orangered;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5rem;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

#active-user {
  padding-left: 0.5rem;
  width: 7rem;
}

.routes {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 0.2rem;
  color: black;
}
