<div id="app-container">
  <div class="header">
    <nav class="routes">
      <a [routerLink]="['/']">
        <span class="material-icons logo logo--animate">monetization_on</span>
      </a>
      <a
        [routerLink]="['/transactions/account']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="currentUserRole === 'BROKER' || currentUserRole === 'CLIENT'"
        class="link"
        >Account Summary
      </a>
      <a
        [routerLink]="['/transactions']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="
          currentUserRole === 'BROKER' ||
          currentUserRole === 'CLIENT' ||
          currentUserRole === 'OBSERVER'
        "
        class="link"
      >
        Block Trade
      </a>
      <a
        [routerLink]="['/transactions/allocate']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="
          currentUserRole === 'BROKER' ||
          currentUserRole === 'CLIENT' ||
          currentUserRole === 'OBSERVER' ||
          currentUserRole === 'SETTLEMENT_AGENT'
        "
        class="link"
        >Allocation
      </a>
      <a
        [routerLink]="['/transactions/admin']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="
          currentUserRole === 'BROKER' ||
          currentUserRole === 'CLIENT' ||
          currentUserRole === 'SETTLEMENT_AGENT'
        "
        class="link"
      >
        Admin</a
      >
    </nav>
    <div class="user-wrapper">
      <i class="material-icons logo">account_box</i>
      <label for="active-user" class="user-label">Active User: &nbsp;</label>
      <select
        required
        [value]="userId"
        class="user-select"
        (change)="onUserChange($event)"
      >
        <option value="Broker1">Broker1</option>
        <option value="Broker2">Broker2</option>
        <option value="Client1">Client1</option>
        <option value="Client2">Client2</option>
        <option value="Client3">Client3</option>
        <option value="Observer">Observer</option>
        <option value="SA1">SA1</option>
      </select>
    </div>
  </div>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <i class="material-icons">copyright</i>
    &nbsp; Copyright 2019
  </div>
  <app-loading-mask *ngIf="isLoading$ | async"></app-loading-mask>
</div>
