a {
  margin-right: 0.5rem;
  text-decoration: none;

  &:hover {
    color: orangered;
  }
}

.active-link {
  color: red;
  text-decoration: underline;
  text-decoration-color: orangered;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 94%;
  margin-bottom: 2.5rem;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

#active-user {
  // border-radius: 1px;
  padding-left: 0.5rem;
}
