@import '../shared/styles/variables.scss';

.mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 1000;
}

:host {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.message {
  position: absolute;
  z-index: 1001;
}

.loading-logo {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: $color-primary-light 0px 0px 10px 1px;
  background-image: url('/assets/dbs-logo.png');
  border-radius: 50%;
  // font-size: 5rem;
  height: 89px;
  width: 89px;
  background-repeat: no-repeat;
  animation: rotateClockwise 2s infinite;
  color: $color-primary;
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
