<mat-card class="execute-card">
  <mat-card-title>Execute Trade</mat-card-title>
  <mat-card-content>
    <form class="form">
      <div class="input-values">
        <div class="left-section">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Counterparty"
              [disabled]="true"
              [value]="counterparty"
              type="text"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Client</mat-label>
            <mat-select
              [value]="client"
              (selectionChange)="onSelectChange('client', $event)"
            >
              <mat-option [value]="'Client1'">
                Client1
              </mat-option>
              <mat-option [value]="'Client2'">
                Client2
              </mat-option>
              <mat-option [value]="'Client3'">
                Client3
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Buy/Sell</mat-label>
            <mat-select
              [value]="buySell"
              (selectionChange)="onSelectChange('buySell', $event)"
            >
              <mat-option [value]="'Buy'">
                Buy
              </mat-option>
              <mat-option [value]="'Sell'">
                Sell
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Product</mat-label>
            <mat-select
              [value]="product"
              (selectionChange)="onSelectChange('product', $event)"
            >
              <mat-option [value]="'DH0371475458'">
                DH0371475458
              </mat-option>
              <mat-option [value]="'DH1986947194'">
                DH1986947194
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="right-section">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Quantity"
              type="number"
              [formControl]="quantityFormControl"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="quantityFormControl.hasError('required')"
              >Quantity is <strong>required</strong></mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Price"
              type="number"
              [formControl]="priceFormControl"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="priceFormControl.hasError('required')"
              >Price is <strong>required</strong></mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="tradeDatePicker"
              placeholder="Trade Date"
              [formControl]="tradeDate"
              [readonly]="true"
              style="color: gray;"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="tradeDatePicker"
              [disabled]="true"
            ></mat-datepicker-toggle>
            <mat-datepicker #tradeDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="valueDatePicker"
              [formControl]="eventDate"
              placeholder="Value Date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="valueDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #valueDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="actions">
        <button
          mat-raised-button
          color="primary"
          class="submit"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button mat-raised-button class="cancel" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
