.form {
  display: flex;
  flex-direction: column;
}

.input-values {
  display: flex;
  flex-direction: row;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  .cancel {
    margin-right: 1rem;
  }
}

.left-section,
.right-section {
  width: 15rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.execute-card {
  width: 40rem;
}

:host {
  display: flex;
  justify-content: center;
}
