@import '../../shared/styles/variables.scss';

.list-container {
  display: flex;
  justify-content: space-between;
}

.execution {
  flex: 1;
}

.execution-table {
  width: 100%;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 7rem;

  &__button {
    margin-top: 1rem;
    width: 20rem;
  }
}

.refresh {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    color: $color-primary;
  }
}
