<ng-container *ngIf="data">
  <mat-card *ngFor="let item of data">
    <div>Event Ref: {{ item.eventRef }}</div>
    <div>Trade Date: {{ getTradeDateForRecord(item) }}</div>
    <div>Linear Id: {{ item.linearId }}</div>
    <div *ngFor="let party of item.parties" style="margin-left: .5rem;">
      <div>Party Name: {{ party }}</div>
    </div>
    <div>Product: {{ getProductForRecord(item) }}</div>
    <div>Status: {{ item.status }}</div>
    <div>Net Price: {{ getNetPriceForRecord(item) }}</div>
    <div>Quantity: {{ getQuantityForRecord(item) }}</div>
    <div>Settlement Amount: {{ getSettlementAmountForRecord(item) }}</div>
    <div>Settlement Date: {{ getSettlementDateForRecord(item) }}</div>
    <br />
  </mat-card>
</ng-container>
