<div class="material-icons refresh" (click)="fetchExecutionStates()">
  refresh
</div>
<ng-container *ngIf="tableData.length > 0; else emptyState">
  <table
    mat-table
    [dataSource]="tableData"
    class="mat-elevation-z8 execution-table"
  >
    <ng-container matColumnDef="blockNumber">
      <th mat-header-cell *matHeaderCellDef>Block#</th>
      <td mat-cell *matCellDef="let element">{{ element.blockNumber }}</td>
    </ng-container>
    <ng-container matColumnDef="tradeNumber">
      <th mat-header-cell *matHeaderCellDef>Trade#</th>
      <td mat-cell *matCellDef="let element">{{ element.tradeNumber }}</td>
    </ng-container>
    <ng-container matColumnDef="allocationNumber">
      <th mat-header-cell *matHeaderCellDef>Allocation#</th>
      <td mat-cell *matCellDef="let element">{{ element.allocationNumber }}</td>
    </ng-container>
    <ng-container matColumnDef="broker">
      <th mat-header-cell *matHeaderCellDef>Broker</th>
      <td mat-cell *matCellDef="let element">{{ element.broker }}</td>
    </ng-container>
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef>Client</th>
      <td mat-cell *matCellDef="let element">{{ element.client }}</td>
    </ng-container>
    <ng-container matColumnDef="prodType">
      <th mat-header-cell *matHeaderCellDef>Prod Type</th>
      <td mat-cell *matCellDef="let element">{{ element.prodType }}</td>
    </ng-container>
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let element">{{ element.product }}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>
    <ng-container matColumnDef="cash">
      <th mat-header-cell *matHeaderCellDef>$Cash</th>
      <td mat-cell *matCellDef="let element">{{ element.cash }}</td>
    </ng-container>
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef>Currency</th>
      <td mat-cell *matCellDef="let element">{{ element.currency }}</td>
    </ng-container>
    <ng-container matColumnDef="valueDate">
      <th mat-header-cell *matHeaderCellDef>Value Date</th>
      <td mat-cell *matCellDef="let element">{{ element.valueDate }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.status ? element.status : '-' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!availableAction(element)"
          (click)="performAction(element)"
        >
          Action
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
<ng-template #emptyState>
  <div>Empty Execution States</div>
</ng-template>
