<mat-card class="main-card">
  <mat-card-title>
    Upload
  </mat-card-title>
  <mat-card-content>
    <form class="uploader">
      <input type="file" (change)="fileChanged($event)" class="file-chooser" />
      <mat-card class="content-viewer" *ngIf="content">
        <ngx-json-viewer [json]="content" [expanded]="false"></ngx-json-viewer>
      </mat-card>

      <ng-container>
        <ng-container [ngSwitch]="currentUserRole">
          <div *ngSwitchCase="'BROKER'" class="upload-button-container">
            <button
              color="primary"
              mat-raised-button
              [disabled]="!content"
              (click)="onSubmit('execution')"
              class="submit"
            >
              Block Trade
            </button>
            <button
              color="primary"
              mat-raised-button
              [disabled]="!content"
              (click)="onSubmit('allocation')"
              class="submit"
            >
              Alocation Trade
            </button>
            <button
              color="primary"
              mat-raised-button
              [disabled]="!content"
              (click)="onSubmit('confirmation')"
              class="submit"
            >
              Confirmation
            </button>
          </div>
          <div *ngSwitchCase="'CLIENT'" class="upload-button-container">
            <button
              color="primary"
              mat-raised-button
              [disabled]="!content"
              (click)="onSubmit('affirmation')"
              class="submit"
            >
              Affirmation
            </button>
          </div>
          <div
            *ngSwitchCase="'SETTLEMENT_AGENT'"
            class="upload-button-container"
          >
            <button
              color="primary"
              mat-raised-button
              [disabled]="!content"
              (click)="onSubmit('add-money')"
              class="submit"
            >
              Add Money
            </button>
          </div>
        </ng-container>
      </ng-container>
    </form>
  </mat-card-content>
</mat-card>
