/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

mat-card {
  background-color: blue;
  padding: 1rem 0.2 rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.content-viewer {
  margin-bottom: 2rem;
}
